<!DOCTYPE html>
<html>
<head>
	<title>RightRides</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="messages">
		<% flash.each do |key, value| %>
		<%= content_tag(:div, value, :class => "flash #{key}") %>
		<% end %> 
	</div>

	<%= yield %>
<%= javascript_include_tag "application", controller_name %>
</body>
</html>
