<!DOCTYPE html>
<html>
<head>
	<title>Myapp</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://www.google.com/jsapi" %>
	<%= csrf_meta_tags %>
</head>
<body onload="initializeMapping()">
	<div id="messages">
		<% flash.each do |key, value| %>
		<%= content_tag(:div, value, :class => "flash #{key}") %>
		<% end %> 
	</div>

	<%= yield %>

</body>
</html>
